<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Login Page</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card formBg">
						
						<h1 class="text-center p-2 formColor">Set Your New Password</h1>
						<div class="container p-4">
							<form th:action="@{/savePassword}" method="post">
								<div class="form-group">
									<input type="email" name="email" th:value="${email}" readonly class="form-control" />
								</div>
								<div class="form-group">
									<input required type="text" name="newPassword"
										class="form-control" placeholder="Enter Your New Password" />
								</div>
								<div class="container text-center">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>